
<nav class="navbar navbar-expand-lg navbar-light">       
 
        <div class="col-md-5">
      <a class=""  href="{% url 'imagesToday' %}"><i class="navbar-brand fab fa-instagram fa-lg"> | Instagram </i></a>
    </div>
    

    <!-- Adding a search form  -->
    <div class=" col-md-4 navbar-left">    
      <form class="navbar-form" role="search" action="{% url 'search_results' %}">
          <div class="center">
              <input style="height:23px;width:200px;margin-top:6px;margin-left:5px" type="text" class="input-sm form-control" name="search-form"
                  placeholder="               Search User">
          </div>
        </div>
            
   
            <a class="navbar-brand far fa-compass"></a>
            <a class="navbar-brand far fa-heart"></a>
            <a class="navbar-brand fas fa-user" href="/profile"></a>
      </form>
      
    <!-- search form end -->
  

</nav>
<hr>
  
    

