{% load bootstrap3 %} 



<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="panel-heading">
              <div class="col-md-6">
            <a class="navbar-brand fab fa-instagram"  href="{% url 'imagesToday' %}"> | Instagram </a>
          </div>
    
          <!-- Adding a search form  -->
          <div class=" col-md-4 navbar-left">
    
            <form class="navbar-form" role="search" action="{% url 'search_results' %}">
                <div class="center">
                    <input style="height:23px;width:200px;margin-top:6px;margin-left:5px" type="text" class="input-sm form-control" name="search-form"
                        placeholder="               Search User">
                </div>
              </div>
    
            </form>
          </div>
          <!-- search form end -->
        </div>
      </nav>

