{% load bootstrap3 %} 


{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="panel-heading">
              <div class="col-md-4">
            <a class="navbar-brand fab fa-instagram"  href="{% url 'imagesToday' %}"> | Instagram </a>
          </div>
          
    
          <!-- Adding a search form  -->
          <div class=" col-md-4 navbar-left">    
            <form class="navbar-form" role="search" action="{% url 'search_results' %}">
                <div class="center">
                    <input style="height:23px;width:200px;margin-top:6px;margin-left:5px" type="text" class="input-sm form-control" name="search-form"
                        placeholder="               Search User">
                </div>
              </div>
                  <a class="navbar-brand fas fa-user" href="/profile"></a>
                  <a class="navbar-brand fas fa-camera-retro" href="/upload"></a>
            </form>
            
          <!-- search form end -->
        </div>
      </div>
      </nav>
      <hr>
      
          {% else %}
          <li>
            <a class='btn btn-default' href="/accounts/login">Login</a>
          </li>

          {% endif %}
        </div>      

