{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<a class="fas fa-cog fa-spin"></a>
<div class="container">
        <div class="row">
                <div class="card-column">
  
                       
  <!-- Looping through images   -->
  {% for images_item in images %}
  
  <!--Display images  -->

  <div class="col-md-4">
        <img src="{{images_item.image_image.url}}" class="img-responsive"  alt="Image"><hr>
      </div>

  </div>
</div>


  {% empty %}
  {% endfor %}
</div>
{% endblock %}