{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="homebody">
<div class="container">

  <!-- Looping through images   -->
  {% for images_item in images %}


  <!--Display news Article images  -->
  <div class="w3-card-6" style="width:56%">
      
          <div class="panel panel-primary">
              <p class="usernamehome-dp"> {{ images_item.name }} </p> 
        <img src="{{images_item.image_image.url}}" class="img-responsive"  alt="Image">
        <h2 class="text-left"> {{ images_item.caption }} </h2>
      </div>
    </div>
 

  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There Are No Images</h2>
  </div>
  {% endfor %}

</div>
</div>

{% endblock %}