{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-60">

{% if user.is_authenticated %}

  <!-- Looping through images   -->
  {% for images_item in images %}


  <!--Display  images  -->
  <div class="w3-card-3" style="width:50%" id="name1">
      
          <div class="panel panel-primary">
              <h4 class="usernamehome-dp">{{ user.username }} </h4> 
              
        <img src="{{images_item.image_image.url}}" class="img-responsive"  alt="Image">
        <i class="far fa-heart fa-lg"></i>
        <h3 class="text-left"> {{ user.username}}:{{images_item.caption }} </h3>
    
      </div>
    </div>
 

  </div>


  {% empty %}
  <div class="row">
    <h2 class="text-center">There Are No Images</h2>
  </div>
  {% endfor %}
  {% endif %}
</div>
</div>
</div>


{% endblock %}