{%extends 'base.html'%}
{{block.supper}}
{%load bootstrap4%}
{%block content%}

<div  class="container prof">
  <br><br>
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-8">
      
      <br>
      <hr class="info">
      <div class="tags">
        <a href=""><i class="far fa-newspaper"></i> Edit Profile</a>
      </div>
      <br>
      <div class="uploads">
        <form class="form-group" action="{%url 'uploads'%}" method="post" enctype="multipart/form-data">
          <h3>Instagram Update Picture</h3>
          {%csrf_token%}
          {%bootstrap_form form%}

          <button class="btn btn-info" type="submit" name="button">Upload</button>

        </form>




      </div>



     </div>
    <div class="col-md-1"> </div>

  </div>



</div>


{%endblock%}